{
  "tabWidth": 2,
  "overrides": [
    {
      "files": "package.json",
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "printWidth": 100,
  "typescriptEnable": ["typescript"],
  "trailingComma": "es5",
  "singleQuote": true
}
